* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: montserrat;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

img {
    width: 250px;
    height: 400px;
    border-radius: 5px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    height: 400px;
    border-radius: 5px;
}

.text {
    font-size: 10px;
    font-family: montserrat;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    margin-left: 20px;
    margin-top: 20px;
}

.text2 {
    font-size: 14px;
    font-family: Fraunces;
    font-weight: 900;
    word-spacing: 5px;
    width: 200px;
    color: hsl(212, 21%, 14%);
    margin-left: 15px;
    margin-top: 20px;
}

.text3 {
    font-size: 14px;
    font-family: montserrat;
    font-weight: 900;
    width: 250px;
    color: hsl(228, 12%, 48%);
    margin-left: 15px;
    margin-top: 20px;
}

.text4 {
    font-size: 20px;
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
    font-weight: 900;
    word-spacing: 15px;
    margin-top: 20px;
}

span {
    font-size: 15px;
    font-family: Fraunces;
    color: hsl(228, 12%, 48%);
    font-weight: 700;
}

button {
    background-color: hsl(158, 36%, 37%);
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 13px;
    font-family: montserrat;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    border-style: none;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 20px;
}

.icon {
    width: 15px;
    height: 15px;
    margin-left: 15px;
}

footer {
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    font-family: montserrat;
    font-weight: 500;
}

/* mobile design */
@media screen and (max-width: 768px) {
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .container {
        width: 350px;
        height: 350px;
    }

    img {
        /*content: url(images/image-product-mobile.jpg);*/
        width: 350px;
        height: 250px;
    }

    .text2 {
        width: 300px;
        word-spacing: 2px;
    }

    .text3 {
        width: 330px;
    }

    button {
        padding-left: 80px;
        padding-right: 80px;
    }
}